# Visual Studio
.vs/
.vscode/

# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# Package directories
**/node_modules/
**/packages/

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Entity Framework Migrations
Migrations/

# Ignorar archivos generados automáticamente
wwwroot/node_modules/
wwwroot/dist/
wwwroot/lib/
# Publish output
appsettings.Development.json

# Permitir todos los demás archivos estáticos
!wwwroot/css/
!wwwroot/js/
!wwwroot/img/

# Temporary files
*.swp
*.tmp
*.bak
*~ 

# JetBrains Rider IDE
.idea/

# macOS and Linux system files
.DS_Store
Thumbs.db
